body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Oswald", sans-serif;
    background-color: #F9F6EE;
    color: #fff;;
}

header {
    background-color: #111;
    padding: 10px 0;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
}

button{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    vertical-align: middle;
    box-sizing: border-box;
}
button:hover{
    text-decoration: underline
}

main{
    text-align: center;
    padding: 50px 20px;
}

footer{
    margin-top: auto;
    text-align: center;
    padding: 10px 0;
    background-color: #111;

    height:24px; 
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}

h1{
    font-size: 50px;
    margin: 10px;
    padding: 0;
}

h2{
    margin: 0px;
}

h3{
    margin: 0px;
}

p{
    font-size: 20px;
    margin: 10px;
    padding: 0;
}

input{
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    vertical-align: middle;
    box-sizing: border-box;

}

hr{
    width: 200px;
}

textarea{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    border-radius: 10px;
    border: 2px solid #111;
    font-size: 20px;
    padding: 5px;
    
}

.body_text{
    font-family: "Oswald", sans-serif;  
    color: #111;
    padding: 0;
}

.file_upload{
    border-radius: 10px;
    border: 2px solid #111;
    color: #111;
    box-sizing: border-box;
    background-color: #fff;
    width: 700px;
}

.display_grid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;  
    padding-bottom: 50px;
    justify-content: center;
}

.item_frame{
    -ms-flex-preferred-size: calc(30% - 30px);
    flex-basis: calc(30%);

    margin: 0 15px 30px;

    overflow: hidden;

    border: 2px solid #111;
    border-radius: 15px;
}

.art_date{
    font-size: 15px;
    font-family: "Oswald", sans-serif;  
    color: #111;
    padding: 0;
    margin: 0px;
}

img{
    height: 100%;
    width: 95%;
    border: 2px solid #111;
    border-radius: 15px;
    object-fit: contain;

}

.account_div{
    padding: 0% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.item_frame:hover, .item_text:hover{
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 979px) {
    .item_frame {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }
}

@media only screen and (max-width: 639px) {
    .item_frame{
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }
    .ag-courses-item_link {
        padding: 22px 40px;
    }
    .ag-courses-item_date-box {
        font-size: 16px;
    }
}